# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

.DS_Store
.idea
.vscode
.directory
.tags
/bower_components
/node_modules
/public/content
/.sass-cache
/Web.config
spec/screenshot
_build.json
*.css
*.map
npm-debug.log


.io-config.json
