<ion-view title="Выбор на удачу" id="page1" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <form id="page1-form9" class="list">
      <label class="item item-select" id="page1-select1" name="countPeople">
        <span class="input-label">Кол-во чел.</span>
        <select ng-model="option.count" ng-options="o as o for o  in [1,2,3,4,5,6,7,8]"></select>
      </label>
    </form>
    {{ X }}
    <div id="page1-button-bar1" class="button-bar">
      <button id="page1-button2" class="button button-positive  button-block button-outline" ng-click="option.price_zone=0" is-active="option.price_zone==0">Дешево</button>
      <button id="page1-button3" class="button button-positive  button-block button-outline" ng-click="option.price_zone=1" is-active="option.price_zone==1">Средне</button>
      <button id="page1-button4" class="button button-positive  button-block button-outline" ng-click="option.price_zone=2" is-active="option.price_zone==2">Дорого</button>
    </div>
    <div id="page1-button-bar2" class="button-bar">
      <button id="page1-button5" class="button button-positive  button-block button-outline" ng-click="option.alco_zone=0" is-active="option.alco_zone==0">Без Алко</button>
      <button id="page1-button6" class="button button-positive  button-block button-outline" ng-click="option.alco_zone=1" is-active="option.alco_zone==1">Легкие</button>
      <button id="page1-button7" class="button button-positive  button-block button-outline" ng-click="option.alco_zone=2" is-active="option.alco_zone==2">Крепкие</button>
    </div>
    <form id="page1-form6" class="list">
      <ion-toggle toggle-class="toggle-positive" id="page1-toggle3">Закуски</ion-toggle>
    </form>
    <button id="page1-button1" style="font-weight:600;" class="button button-positive button-large button-block icon-left ion-beer">Подбор</button>
  </ion-content>
</ion-view>